/.settings
/.settings/*.prefs
/.settings/*.component
/.settings/*.xml
/.externalToolBuilders
/.externalToolBuilders/*.launch
/target
/war/target
/swf/target
/.classpath
/.project
/.actionScriptProperties
/.flexProperties
/.flexLibProperties
/.checkstyle
/maven-eclipse.xml
/html-template
/META-INF
/test/META-INF
/src/META-INF
/*.log 
